[submodule "examples/rfc-divination-cfapi"]
	path = examples/rfc-divination-cfapi
	url = https://github.com/riboseinc/rfc-divination-cfapi
[submodule "examples/rfc-camelot-holy-grenade"]
	path = examples/rfc-camelot-holy-grenade
	url = https://github.com/riboseinc/rfc-camelot-holy-grenade
[submodule "examples/rfc-asciirfc-minimal"]
	path = examples/rfc-asciirfc-minimal
	url = https://github.com/riboseinc/rfc-asciirfc-minimal.git
